.headermain{
    width: 100%;
    padding: 20px 0;
    background-color: #003F62;
}

.inputArea{
    position: relative;
    display: flex;
}
.align{
    align-items: center;
}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 8px ;
    background: #EDA415;
    border-radius: 5px;
    border-color: transparent;
    font-family: Poppins-Semi;
}
.span{
    width: 10px;
    height: 10px;
    background-color: #EDA415;
    border-radius: 50%;
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}